@import '../../util/colors';

.Search {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://images.unsplash.com/photo-1526234362653-3b75a0c07438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
	background-size: cover;
	background-repeat: no-repeat;
}

.Search-form {
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;

	& label {
		font-size: 20px;
		color: white;
		font-weight: 600;
	}
}

.Search-form-input {
	height: 40px;
	border: 0;
	border-radius: 3px;
	padding: 15px;
	font-size: 20px;
	font-weight: 300;
	color: $body-copy-color;
	&:focus {
		outline: transparent;
	}
}

.Search-submit-btn {
	padding: 10px;
	line-height: 100%;
	color: white;
	font-weight: 600;
	background-color: $main-color;
	display: flex;
	font-size: 20px;
	justify-content: center;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	align-items: center;
	&:focus {
		outline: transparent;
	}
}
