@import './util/_colors';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	color: $body-copy-color;
	font-family: $body-copy-font;
	font-size: 16px;
	background-color: $background-color;
	margin: 0;
	padding: 0;
	font-family: $body-copy-font, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
